<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Nom</th>
        <th>Prénom</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Dupont</td>
        <td>Jean</td>
        <td>25</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Gates</td>
        <td>Bill</td>
        <td>66</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Hanouna</td>
        <td>Cyril</td>
        <td>41</td>
    </tr>
    </tbody>
</table>