<div class="mdl-card mdl-shadow--6dp form_user">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Paramètres Global</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" checked />
            <span class="mdl-switch__label">Activer l'appareil photo</span>
        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
            <input type="checkbox" id="switch-2" class="mdl-switch__input" checked />
            <span class="mdl-switch__label">Enregistrer dans la gallerie photo</span>
        </label>
    </div>
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Qualité Appareil photo</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <input class="mdl-slider mdl-js-slider" type="range"
               min="0" max="100" value="75" tabindex="0"/>
    </div>
</div>